* {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto mono", sans-serif;
  background-color: #1b1b32;
  max-width: 100%;
  overflow-x: hidden;
}

.upbar {
  z-index: 1;
  background-color: #0a0a23;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.71);
}
.upbar .flex {
  width: 100%;
  margin: auto;
  padding: 10px;
  max-width: 2400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upbar .flex > div {
  width: 100%;
  display: flex;
  gap: 20px;
}

.left {
  margin-left: 40px;
}

.right {
  flex-direction: row-reverse;
  margin-right: 40px;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 160px;
  border: 3px solid #feac32;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  color: black;
}
#github * {
  color: black;
}

#github:hover {
  background-color: #fecc4c;
  background-image: none;
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 160px;
  border: 3px solid #3257fe;
  background-color: #3291fe;
  background-image: linear-gradient(#4c7bfe, #3347ff);
  color: black;
}
#page * {
  color: black;
}

#page:hover {
  background-color: #4c7bfe;
  background-image: none;
}

.container {
  overflow: hidden;
  background-color: #0a0a23;
  width: 100%;
  max-width: 1200px;
  margin: 140px auto;
  box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.3);
}

main {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

header h2 {
  margin: 10px 0;
  font-size: 23;
}

.aaa {
  text-decoration: none;
}

.aaa:hover * {
  background-color: #2a2a40 !important;
}

.aa {
  text-decoration: underline;
}

.aa:hover {
  background-color: #2a2a40;
  text-decoration: none;
}

.main-flex {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.main-flex p {
  text-align: justify;
}

.main-content {
  min-width: 400px;
  max-width: 600px;
}

.main-image img {
  margin: 60px 80px;
}

.index .index-title {
  transition: 1s all ease;
  font-size: 20px;
  margin: 20px 0;
}
.index h2::before {
  transition: 1s all ease;
  content: "/";
  opacity: 0;
}
.index h2::after {
  transition: 1s all ease;
  content: ".html";
  opacity: 0;
}
.index .index-title:hover {
  transition: 1s all ease;
  background-color: #2a2a40;
  outline: #2a2a40 solid 10px;
}
.index .index-title:hover h2::after {
  opacity: 1;
}
.index .index-title:hover h2::before {
  opacity: 1;
}

section {
  margin: 20px 0;
  border: 2.5px solid white;
  border-radius: 10px;
}
section .section-title {
  transition: 0.3s all ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 15px;
  font-size: 20px;
}
section .section-title p {
  color: #1b1b32;
}
section .section-title:hover {
  background-color: white;
}
section .section-title:hover h3 {
  color: #1b1b32;
}
section .expo {
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
section .expo article {
  transition: 0.3s all ease;
  background-color: #2a2a40;
  max-width: 400px;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  transform: perspective(1000px);
}
section .expo article > div {
  margin: 10px;
}
section .expo article h4 {
  font-size: 20px;
}
section .expo article h5 {
  font-size: 16px;
}
section .expo article p {
  font-size: 15px;
}
section .expo article .description {
  max-width: 90%;
  margin: auto;
  margin: 10px;
}
section .expo article .links {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
section .expo article .links a {
  background: none;
  border: 2px solid white;
  width: 80%;
}
section .expo article .links a:hover {
  background-color: white;
  color: #2a2a40;
}
section .expo article:hover {
  transform: perspective(1000px) rotateX(5deg) scale(1.03) translateY(-1px);
}/*# sourceMappingURL=style.css.map */